@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #212529;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #212529;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #212529;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
    color: #b59bb1;
    animation: colordancing2 4s infinite;
}

@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(106, 121, 135, 0.4),
				inset 0 30px 0 rgba(141, 175, 206, 0.4),
				inset -30px 0 0 rgba(102, 72, 87, 0.4),
				inset 0 -30px 0 rgba(33, 37, 41, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(33, 37, 41, 0.4),
				inset 0 30px 0 rgba(106, 121, 135, 0.4),
				inset -30px 0 0 rgba(141, 175, 206, 0.4),
				inset 0 -30px 0 rgba(102, 72, 87, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(102, 72, 87, 0.4),
				inset 0 30px 0 rgba(33, 37, 41, 0.4),
				inset -30px 0 0 rgba(106, 121, 135, 0.4),
				inset 0 -30px 0 rgba(141, 175, 206, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(141, 175, 206, 0.4),
				inset 0 30px 0 rgba(102, 72, 87, 0.4),
				inset -30px 0 0 rgba(33, 37, 41, 0.4),
				inset 0 -30px 0 rgba(106, 121, 135, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(106, 121, 135, 0.4),
				inset 0 30px 0 rgba(141, 175, 206, 0.4),
				inset -30px 0 0 rgba(102, 72, 87, 0.4),
				inset 0 -30px 0 rgba(33, 37, 41, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #8dafce;
  }
  25% {
    color: #212529;
  }
  50% {
    color: #323a4e;
  }
  75% {
    color: #8dafce;
  }
  100% {
    color: #6a7987;
  }
}
@keyframes colordancing2 {
  0% {
    color: #323a4e;
  }
  25% {
    color: #8dafce;
  }
  50% {
    color: #6a7987;
  }
  75% {
    color: #212529;
  }
  100% {
    color: #323a4e;
  }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  background-color: #416475;
  margin-bottom: 50px;
}
html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #92a4ad;
}
h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
